<footer class="footer py-2 fixed-bottom bg-secondary">
    <div class="d-flex flex-row-reverse container">
        <span class="text-white">copyrightⓒ <a class="text-white" href="https://vividswan.github.io">vividswan</a></span>
    </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>