<footer class="footer py-2 fixed-bottom bg-secondary">
    <div class="d-flex flex-row-reverse container">
        <span class="text-white">copyrightⓒ <a class="text-white" href="https://vividswan.github.io">vividswan</a></span>
    </div>
</footer>

</body>
</html>