{{> layout/header}}
<br>
<style>
    .table, .table-success, tr, thead, th, td, tbody{
        border: 1px solid lightgray;
    }
</style>
<div class="container">
    <h2>ToDo List</h2>
    <br>
    <table class="table">
        <thead class="table-success">
        <tr>
            <th>user</th>
            <th style="width: 50vw">title</th>
            <th>deadline</th>
        </tr>
        </thead>
        <tbody>
        {{#tasks}}
        <tr>
            <td>{{username}}</td>
            <td style="width: 50vw">{{title}}</td>
            <td>{{deadline}}</td>
        </tr>
        {{/tasks}}
        </tbody>
    </table>
    <div class="d-flex justify-content-end">
        <a href="/taskForm"><button class="btn btn-primary">작성하기</button></a>
    </div>
</div>
{{> layout/footer}}